<%- include("./layouts/header.ejs") %>
<h1>Admin Login</h1>
<form action="/admin/login" method="post">
  <input
    type="email"
    name="email"
    placeholder="email address"
    required
  />
  <input
    type="password"
    name="password"
    placeholder="password"
    required
  />
  <button type="submit">Login</button>
</form>
<%if(typeof message !== 'undefined'){%>
  <h3 style="color: blue"><%=message%></h3>
  <%}%> 
</br>
<a href="/admin/forgot-password">Forgot password</a>
</br>
<a href="/users/login">Got to user login</a>