<%- include("./layouts/header.ejs") %>
<h1>Reset password</h1>
<form action="/admin/forgot-password" method="post">
  <input
    type="email"
    name="email"
    placeholder="email address"
    required
  />
  <button type="submit">Send link</button>
  <%if(typeof message !== 'undefined'){%>
    <h3 style="color: blue"><%=message%></h3>
    <%}%> 
</form>
<a href="/admin/login">Back to login</a>
