<%- include("./layouts/header.ejs") %>
<h1>Admin Reset Password</h1>
<form action="/admin/reset-password" method="post">
  <input
    type="password"
    name="password"
    placeholder="password"
    required
  />
  <input type="hidden" name="admin_id" value="<%=admin_id%>"/>
  <button type="submit">Reset Password</button>
</form>
<%if(typeof message !== 'undefined'){%>
  <h3 style="color: blue"><%=message%></h3>
  <%}%> 
<a href="/admin/login">Back to login</a>
