<%- include("./layouts/header.ejs") %>
<h1>Registration</h1>
<form action="/register" method="post">
  <input
    type="email"
    name="email"
    placeholder="email address"
    required
  />
  <input
    type="password"
    name="password"
    placeholder="password"
    required
  />
  <button type="submit">Register</button>
</form>