<%- include("./layouts/header.ejs") %>
<h1>Reset Password</h1>
<form action="/users/reset-password" method="post">
  <input
    type="password"
    name="password"
    placeholder="password"
    required
  />
  <input type="hidden" name="user_id" value="<%=user_id%>"/>
  <button type="submit">Reset Password</button>
</form>
<%if(typeof message !== 'undefined'){%>
  <h3 style="color: blue"><%=message%></h3>
  <%}%> 
<a href="/users/login">Back to login</a>
