<%- include("./layouts/header.ejs") %>
<h1>Update user information</h1>
<form method="post">
  <input
  type="text"
  name="name"
  placeholder="name"
  size="30"
  value="<%=user.name%>"
  />
  <input
    type="email"
    name="email"
    placeholder="email address"
    size="40"
    value="<%=user.email%>"
  />
  <button type="submit">Update information</button>
  <%if(typeof message !== 'undefined'){%>
    <h3 style="color: blue"><%=message%></h3>
    <%}%> 
</form>
<a style="margin-left: 2rem" href="/users/home">Back to home</a>
